.welcome-component {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  color: var(--light);
  padding: 1rem;
  margin: 2rem 0;
  border-radius: 5px;
  width: 500px;
  height: 300px;
}

.welcome-component h1{
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.welcome-component h2{
  font-size: 2rem;
  font-weight: lighter;
}

.welcome-component p{
  font-size: 18px;
}
