.notfound-component {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  color: #a5a5a5;
  width: 100%;
  height: 100%;
}

.notfound-title {
  font-weight: lighter;
}

.btn-404-exit {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  background: #a5a5a5;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  width: 120px;
  padding: 5px 0;
  margin: 2rem 0;
  border-radius: 5px;
}

.btn-404-exit:hover {
  color: var(--light);
  opacity: .8;
}